.footer {
    color: #fff;
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 150px;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .gh-icon-anim {
    height: 25px;
  }
  
  .contact-link{
    text-decoration: none;
    color: grey;
  }
  