.navbar {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo-image {
  height: 40px; /* Adjust the height to make the logo small */
  width: auto;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}
